[run]
source = src
omit = 
    */tests/*
    */venv/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod
    @property
    @classmethod
    @staticmethod
    def __init__

[html]
directory = coverage_html 